$accent_blue: #07a6ff;
$second_blue: #45beff;
$second_gray: #8c8c8c;

$bg_light_gray: #d3d3d3;
$bg_light_blue: #f0f8ff;
$bg_blue: #77cfff38;
$bg_dark_blue: #002147da;
$bg_blue_gradient: linear-gradient(90deg, $accent_blue 100%, $second_blue 0%);
$bg_gray_transparent: #7a7a7a94;
$bg_blue_gray_gradient: linear-gradient(90deg, rgb(29 54 87) 0%, rgb(24 40 85) 100%);

$anim_cubic_bezier: cubic-bezier(0.77, 0.2, 0.05, 1);
